/**
 * icalingua++ Custom Style
 * @references Telegram Desktop Style
 */

 body {
  background-color: var(--panel-background) !important;
}

* {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.el-aside {
  background-color: var(--panel-background) !important;
  color: rgb(162, 162, 162) !important;
  display: block !important;
  position: absolute;
  /* 因为 DOM 结构的原因，无法让chat-group直接附着在上方，因此需要绝对定位 */
  top: 47px;
  left: 0;
  width: var(--rooms-panel-width) !important;
  z-index: 4 !important;
  padding: 0 !important;
  border-bottom: 1px solid rgb(221, 221, 221) !important;
  border-right: 1px solid rgb(221, 221, 221) !important;
}

.el-aside .head {
  display: none;

}

.chat-group {
  display: flex;
  flex-direction: row;
}

.chat-group a {
  width: 100%;
}

.chat-group a>div {
  padding-bottom: 9px;
  margin: 0 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.chat-group a:hover {
  cursor: default !important;
}

.chat-group a>div>i {
  display: none !important;
}

.chat-group .selected {
  position: relative;
  --selected-color: rgb(70 135 210);
  color: var(--selected-color) !important;
}

.chat-group .selected::after {
  /* 类似于 telegram 选中后的下划线 */
  content: "";
  position: absolute;
  bottom: 0;
  left: 9px;
  width: 80%;
  height: 3.3px;
  border-radius: 2px 2px 0 0;
  background-color: var(--selected-color);
  animation: selected 0.2s ease-in-out;
}

@keyframes selected {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.rooms-panel {
  border: none !important;
}

.rooms-panel * {
  cursor: default !important;
}

.rooms-panel .content {
  margin-top: 33px;
}


.el-input__inner {
  background-color: rgb(244, 244, 244) !important;
  border: none !important;
  border-radius: 5px !important;
  height: 30px;
  text-transform: none !important;
}

.el-input__inner::-webkit-input-placeholder {
  color: rgb(153, 153, 153) !important;
  text-align: center;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.el-input__prefix,
.el-input__suffix {
  top: -5px;
  animation: input-prefix-suffix 0.2s ease-in-out;
}

@keyframes input-prefix-suffix {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.el-icon-user,
.el-icon-delete {
  color: rgb(112 170 238);
  font-weight: 500 !important;
}

/* .el-input__inner 在输入的时候应该全部丢到左边 */
.el-input__inner:focus.el-input__inner::-webkit-input-placeholder {
  transform: translateX(-62px);
}

.root {
  transition: none !important;
}

.root:hover {
  background-color: initial !important;
}

.root .selected {
  background-color: rgb(87 146 204) !important;
}

.root .selected .entry .right * {
  color: rgb(254, 254, 254) !important;
}

.root .entry .right .flex.l1 .name {
  font-weight: 500;
  font-size: 15px;
}

.root .selected .entry .right .flex.l1 .name {
  font-weight: 400;
}

.root .entry .right .flex .desc {
  font-size: 12px;
  color: rgb(160, 160, 160);
}

.el-badge__content--info {
  background-color: rgb(215, 215, 215) !important;
}

.el-avatar {
  --size: 48px;
  width: var(--size) !important;
  height: var(--size) !important;
}

.vac-col-messages {
  background-color: var(--panel-background) !important;
}

.vac-room-name {
  font-weight: 500;
  font-size: 15px;
}

.vac-room-info {
  font-size: 12px;
}

.vac-room-options {
  color: rgb(67, 128, 198);
  font-size: 20px;
}

.vac-room-options:hover {
  transform: none;
  opacity: 1;
}

.vac-container-scroll {
  background-color: var(--panel-background) !important;
  margin-left: 10px;
  margin-right: 10px;
}


.vac-message-sender-avatar .el-avatar {
  --size: 32px;
  width: var(--size) !important;
  height: var(--size) !important;
}

.vac-message-card {
  background-color: rgb(244, 244, 244) !important;
  box-shadow: none !important;
  border-radius: 13px !important;
  padding: 5px 12px 5px 12px !important;
  position: relative;
}

.vac-text-username {
  display: block !important;
}

.vac-text-username>span:first-child {
  color: rgb(131, 98, 206) !important;
  font-weight: 400 !important;
}

.vac-message-card.vac-message-current {
  background: rgb(97 151 206) !important;
  color: rgb(254, 254, 254) !important;
}

.vac-message-current .vac-text-timestamp {
  color: rgb(254, 254, 254) !important;
}

.vac-card-date {
  background-color: var(--panel-background) !important;
  box-shadow: none !important;
  color: rgb(160, 160, 160) !important;
}

.vac-text-timestamp {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-style: italic !important;
  opacity: .7 !important;
}

.vac-message-content {
  margin-right: 43px !important;
  font-size: 13px;
}

.vac-icon-scroll {
  box-shadow: 0 1px 8px 1px #0000001f !important;
}

.vac-icon-scroll svg path {
  fill: #707579 !important;
}

.vac-reply-message {
  border-radius: 0 !important;
  background-color: inherit !important;
  border-left: 2px solid rgb(131, 98, 206) !important;
  border-left-width: 2px !important;
  padding: 2px 10px !important;
  color: inherit !important;
}

.vac-reply-username {
  color: rgb(131, 98, 206) !important;
  font-weight: 400 !important;
}

.vac-reply-username>div svg {
  stroke: #707579 !important;
}

.vac-reply-content {
  color: inherit !important;
}

.vac-box-footer {
  border-top: 1px solid rgb(221, 221, 221) !important;
  background-color: var(--panel-background) !important;
  padding: 5px 10px !important;
}

.vac-textarea {
  border: none !important;
  font-size: 14px !important;
  margin-left: 35px !important;
}

.vac-icon-textarea {
  margin-bottom: 10px;
}

/* file upload */
.vac-icon-textarea > :nth-child(2) {
  position: absolute;
  left: 10px;
}

.vac-textarea::-webkit-input-placeholder {
  color: rgb(153, 153, 153) !important;
  font-size: 14px; 
  transition: all 0.2s ease-in-out;
}

.vac-textarea:focus::-webkit-input-placeholder {
  transform: translateX(5px);
}

#vac-icon-emoji, #vac-icon-paperclip {
  transition: all 0.2s ease-in-out;
  fill: rgb(153, 153, 153) !important;
  transform-origin: center center;
}

#vac-icon-paperclip {
  transform: rotate(30deg);
}

.vac-svg-button {
  cursor: default !important;
}

.vac-svg-button:hover {
  transform: none;
  opacity: 1;
}

.vac-svg-button:hover #vac-icon-emoji, .vac-svg-button:hover #vac-icon-paperclip {
  fill: var(--chat-icon-color-emoji) !important;
}

#vac-icon-send {
  transition: all 0.2s ease-in-out;
}

.vac-svg-button svg {
  --size: 25px;
  width: var(--size) !important;
  height: var(--size) !important;
}