/* sticker panel */
.panel-right {
  box-shadow: 1px 0 8px 1px #0000001f !important;
  transition: all 0.2s ease-in-out;
  transform-origin: bottom right;
  will-change: scale;
  border: none !important;
}

.bg {
  position: relative;
}

.bg > div:not(.head):not(.stickers_dir):not(.emoji-panel) {
  margin-bottom: 55px;
}

.vac-fade-stickers-enter-active {
  transform-origin: bottom right;
  will-change: scale;
  /* animation: tickers-enter-active 0.2s ease-in-out; */
  animation: scaleIn;
  animation-duration: 0.2s;
}

@keyframes scaleIn {
  0% {
    scale: 0.03;
  }

  100% {
    scale: 1;
  }
}

.panel-right div.head {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 1;
  height: 50px !important;
  min-height: 50px !important;
  border-top: 1px solid #e1e4e8;
  border-bottom: none !important;
}

.panel-right div.head a {
  color: rgb(190, 190, 190) !important;
}

.opinion {
  cursor: default !important;
}

.title {
  width: initial !important;
}

.panel-right .title {
  border-radius: 0 0 10px 10px !important;
}

.panel-right .title a {
  margin: 0 !important;
  font-weight: 500 !important;
  font-size: 14px;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

.panel-right .title a.selected {
  background-color: rgb(224, 224, 224) !important;
  color: rgb(1, 1, 1) !important;
}

.grid {
  position: sticky;
  top: 10px;
  bottom: 50px;
  gap: 7px;
}

.grid > div img {
  border: none !important;
}

.container-search input {
  background: var(--tg-panel-background) !important;
}

.transition-element {
  transition: transform 0.3s;
}
