name: Release CI

on:
  release:
    types: [created]

permissions:
  write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Setup
        run: npm i -g @antfu/ni

      - name: Install
        run: nci

      - name: Build
        run: nr build
      
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: icalingua-theme-telegram.zip
          path: dist
      - name: Zip
        run: zip -r icalingua-theme-telegram.zip dist
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: icalingua-theme-telegram.zip
          path: icalingua-theme-telegram.zip